<form action="/restaurant/result" method="POST">
  Search:<br>
  <input type="text" name="term">
  <br> City 1: <br>
  <input type="text" name="location1">
  <br> City 2: <br>
  <input type="text" name="location2">
  <input type="submit" value="Submit">
</form>
