<form action="/restaurant/result" method="POST">
  Search:<br>
  <input type="text" name="term">
  <br> City: <br>
  <input type="text" name="location">
  <input type="submit" value="Submit">
</form>
